
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Other folders / files to ignore
/transdbs
/submissions
/env
/cava
/.elasticbeanstalk
/.ebextensions
