commands:
  aab_mkdir:
    command: "sudo mkdir /media/volume1"
  aac_mount:
    command: "sudo mount /dev/sdh /media/volume1"
  aad_set_permissions_on_ebs_volume:
    command: "sudo chmod 777 /media/volume1"
  aae_set_permissions_on_ref_folder:
    command: "sudo chmod 777 /media/volume1/References"
  aaf_set_permissions_ref_file_37:
    command: "sudo chmod 777 /media/volume1/References/human_g1k_v37.fa"
  aag_set_permissions_ref_index_37:
    command: "sudo chmod 777 /media/volume1/References/human_g1k_v37.fa.fai"
  aah_set_permissions_ref_file_38:
    command: "sudo chmod 777 /media/volume1/References/hg38.fa"
  aai_set_permissions_ref_index_38:
    command: "sudo chmod 777 /media/volume1/References/hg38.fa.fai"
