files:
  "/tmp/ReferenceSequences.tar.gz":
    owner: root
    group: root
    mode: "000777"
    source: "https://s3.amazonaws.com/andy-temp-storage/ReferenceSequences.tar.gz"

container_commands:
  01_remove_local:
    command: "rm -rf /etc/localtime"
  02_link_london:
    command: "ln -s /usr/share/zoneinfo/Europe/London /etc/localtime"
  03_restart_http:
    command: sudo service httpd restart
  04_copy_references_from_s3:
    command: "aws s3 cp s3://andy-temp-storage/ReferenceSequences.tar.gz /tmp/ReferenceSequences.tar.gz"
  05_unpack_references:
    command: "tar -xvzf /tmp/ReferenceSequences.tar.gz"
  06_set_permissions_ref_dir:
    command: "chmod 777 /tmp/Reference"
  07_set_permissions_ref_file_37:
    command: "chmod 777 /tmp/Reference/human_g1k_v37.fa"
  08_set_permissions_ref_index_37:
    command: "chmod 777 /tmp/Reference/human_g1k_v37.fa.fai"
  09_set_permissions_ref_file_38:
    command: "chmod 777 /tmp/Reference/hg38.fa"
  10_set_permissions_ref_index_38:
    command: "chmod 777 /tmp/Reference/hg38.fa.fai"
