container_commands:
  aaa_mkfs:
    command: "mkfs -t ext3 /dev/sdh"
  aab_mkdir:
    command: "mkdir /media/volume1"
  aac_mount:
    command: "mount /dev/sdh /media/volume1"
  aba_copy_hg38_from_s3:
    command: "aws s3 cp s3://andy-temp-storage/hg38.fa /media/volume1/"
  abb_copy_hg38_index_from_s3:
    command: "aws s3 cp s3://andy-temp-storage/hg38.fa.fai /media/volume1/"
  abc_copy_hg37_from_s3:
    command: "aws s3 cp s3://andy-temp-storage/human_g1k_v37.fa /media/volume1/"
  abd_copy_hg37_index_from_s3:
    command: "aws s3 cp s3://andy-temp-storage/human_g1k_v37.fa.fai /media/volume1/"
  abe_set_permissions_on_ebs_volume
    command: "chmod 777 /media/volume1"
  abf_set_permissions_ref_file_37:
    command: "chmod 777 /media/volume1/human_g1k_v37.fa"
  abg_set_permissions_ref_index_37:
    command: "chmod 777 /media/volume1/human_g1k_v37.fa.fai"
  abh_set_permissions_ref_file_38:
    command: "chmod 777 /media/volume1/hg38.fa"
  abi_set_permissions_ref_index_38:
    command: "chmod 777 /media/volume1/hg38.fa.fai"
option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdh=:100
